* {
    font-family: sans-serif;
}

html {
    background-color: #eee;
}

body {
    margin: 0;
    width: 99.7%;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    width: 100%;
    height: 13vh; /*Bedre metode for dette?*/
    min-height: 80px;
    background-color: #0073e6;
    padding: 2px;
    color: #fff;
}

nav h1 {
    text-align: center;
    font-size: 56px;
    margin-top: 11px;
}

i.tilbake {
    padding-top: 18px;
    padding-left: 10px;
    font-size: 56px;
    position: absolute;
}

i.tilbake:hover {
    color: #ccc;
}

.btnMer {
    position: absolute;
    right: 2%;
    top: 4.3%;
    background: none;
    border: none;
    cursor: pointer;
}

.material-icons.mer:hover {
    transform: scale(1.2);
    background-color: rgba(155, 155, 155, 0.6);
    color: #fff;
    transition: 0.2s;
}

.material-icons.mer {
    color: #fff; 
    font-size: 36px;
}

.annet {
    font-size: 20px;
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 35px;
    float: right;
}

.annet:hover {
    color: #ccc;
    border-bottom: 3px solid #ccc;
    transition: 0.2s;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0066cc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #ccc;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
  }

  #main {
    transition: margin-right .5s;
    padding: 16px;
  }

  .container {
    display: flex;
	justify-content: center;
	min-width: 100%;
	max-width: 100%; /*BRUK DETTE PÅ HOVEDSIDEN OG*/
}

footer {
    position: relative;
    bottom: -100px;
    justify-content: center;
	min-width: 100.3%;
	max-width: 100%;
	color: white;
	margin-top: 30px;
	background-color: #404040;
}

footer h2 {
    text-shadow: 2px 2px gray;
}

.besoksadresse {
	padding: 50px;
}

.postadresse {
	padding: 50px;
}

.tlfogepost {
	padding: 50px;
}
.disclaimer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
}

.disclaimer button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: rgb(116, 234, 255);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgb(116,234,255);
}

.disclaimer button:hover {
    color: blue;
    transform: scale(1.05);
    border-bottom: 2px solid blue;
    transition: 0.2s;
}

  @media screen and (max-width: 675px) {
    .overskrift {
        font-size: 32px;
        padding-top: 12px;
    }
    nav {
      height: 90px;
    }
    .btnMer {
        position: absolute;
        top: 25px;
        right: 2%;
        background: none;
        border: none;
      }
  }

  @media screen and (max-width: 500px) {
    .annet {
        font-size: 16px;
    }
    i.tilbake {
        padding-top: 17px;
    }
}

@media only screen and (min-width: 1550px) { 
  nav {height: 10vh}
  i.tilbake {padding-top: 20px;}
  .btnMer {
    position: absolute;
    top: 3.3%;
    right: 2%;
    background: none;
    border: none;
  }
}

@media only screen and (max-width: 800px) { 
  footer {
    background-color: #404040;
  }
}

@media only screen and (min-width: 700px) {
  footer {
      display: flex;
  }
}
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }