* {
  color: #666;
  font-family: Helvetica;
}

:root {
  --headline: #b5e853;
}
/*
@font-face {
  font-family: "Test";
  src: url("../fonts/TechnoBoard-519Ej.ttf")
  } */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #151515 url(../images/bg.png) 0 0;
}

header {
  background: rgba(0,0,0,0.1);
  width: 100%;
  border-bottom: 1px dashed var(--headline);
  padding: 0.9vw 0;
  box-sizing: border-box;
  padding-bottom: 1.8vw;
}

.headline, .postTitle, .footerTitle {
  color: var(--headline);
 /* font-family: "Test"; */
} 


header h1 {
  font-size: 38px; /*38px*/
  line-height: 1.5;
  margin: 0 0 0 100px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(181 232 83 / 10%), 0 0 10px rgb(181 232 83 / 10%);
 /* letter-spacing: -1px; */
 letter-spacing: 0.15vw; /*5px*/
  -webkit-font-smoothing: antialiased;
}

h2 {
  display: block;
  font-size: 18px; /*18px*/
  font-weight: 300;
  color: #666;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(181 232 83 / 10%), 0 0 10px rgb(181 232 83 / 10%);
  margin: 0 0 1.9vw 105px;
}

#btnGithub {
  background: -webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0,0,0,0.7);
  border-bottom: 2px solid rgba(0,0,0,0.7);
  border-top: 2px solid #000;
  color: rgba(255,255,255,0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px; /*13px*/
  text-decoration: none;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 75%);
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 5%);
  text-align: center;
  margin-left: 120px;
}


#btnGithub:hover {
  color: var(--headline);
  outline: 2px solid var(--headline);
}

main {
  margin: 0 150px;
}

.postTitle {
  font-size: 28px; /*2vw*/
  margin-bottom: 20px;
}

.btn {
  background: -webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
  border: 2px solid rgba(0,0,0,0.7);
  border-bottom: 2px solid rgba(0,0,0,0.7);
  border-top: 2px solid #000;
  color: rgba(255,255,255,0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px; /*13px 0.9vw*/
  border-radius: 50px;
  padding: 8px 18px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 75%);
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 5%);
  text-align: center;
}

.btnDownload {
  float: left;
}

.req {
  width: 150px;
  margin-top: 30px;
  margin-left: 150px;
  color: red;
  cursor: pointer;
}

.btn:hover {
  color: var(--headline);
  outline: 2px solid var(--headline);
}

.postDescription {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(181 232 83 / 10%), 0 0 10px rgb(181 232 83 / 10%);
  max-width: 50%; /*50%*/
  margin-bottom: 5vw;
  /*text-align: center; */
}

details {
  display: inline-block;
}

.codeShowcase {
  font-weight: 300;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(181 232 83 / 10%), 0 0 10px rgb(181 232 83 / 10%);
}

.grid3x1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid2x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid2x1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.images {
  margin-top: 20px;
  margin-bottom: 0;
  width: 80%;
}


.image {
  width: 100%;
}

figure {
  transition: 0.5s ease /*transform*/;
}

figure:hover {
  cursor: pointer;
  transform: scale(1.08);
  color: var(--headline);
}

.imgText {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.03em;
  color: inherit;
}

.grid1x1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.codeShowcase {
  transition: 0.5s ease;
}

.codeShowcase:hover {
  cursor: pointer;
  color: var(--headline);
}

.gifs figure {
max-width: 600px;
}

.gif {
  max-width: 600px;
}

@media screen and (max-width: 1800px) {
  .grid3x1 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .grid3x1 {
    grid-template-columns: 1fr;
  }
  .grid2x1 {
    grid-template-columns: 1fr;
  }
  .grid2x2 figure, .grid2x1 figure, .grid3x1 figure, .grid1x1 figure {
    margin: 5px;
  }
  .grid1x1 .image{
    margin-top: 5px;
  }
  .images {
    width: 100%;
    margin-top: 15px;
  }
  .gifs figure {
    margin: 5px;
    max-width: 80%;
  }
  .gif{
    max-width: 100%;
  }
  .grid2x2 {
    margin-bottom: 15px;
  } 
  details {
    max-width: 100%;
  }
}


@media screen and (max-width: 800px) {
  header h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
  }
  header h2 {
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
  }
  header {
    padding-bottom: 20px;
  }
  main {
    margin: 0 30px;
  }
  .postTitle {
    font-size: 24px;
  }
  .postDescription {
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  .grid1x1 {
    margin-bottom: 15px;
  }
  #creds {
    font-size: 8px;
    right: 5px;
  }
}

.footerTitle {
  font-size: 24px;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

footer {
  background: rgb(26, 26, 26);
  margin: 0;
  position: relative;
  bottom: 0;
  padding: 20px 0;
}

.footerInfo {
  margin: 5px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(181 232 83 / 10%), 0 0 10px rgb(181 232 83 / 10%);
  text-align: center;
}

#creds {
  position: absolute;
  right: 15px;
  bottom: 0;
}

#margTop {
  margin-top: 40px;
}

#pageNotFound {
  text-align: center;
}

#notFound {
  color: red;
}

